body {
   margin: 0px;
   padding: 0px;
   background: #f7f7f7;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*-----------------------------------------------------------------------
* Header
*------------------------------------------------------------------------*/

header {
   background: #e44232;
   position: sticky;
   top: 0px;
   /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
}

header ul {
   width: 900px;
   margin: auto;
   list-style-type: none;
}

header ul li {
   padding: 10px 0px 12px 0px;
   margin: 0px;
   display: inline-block;
   font-size: 1.1em;
}

header a {
   text-decoration: none;
}

header li,
header a {
   color: #fff;
}

header ul>div {
   width: 10%;
   font-size: 1.8em;
   font-weight: bolder;
   float: left;
   padding-top: 4px;
}

header ul li:nth-of-type(1) {
   width: 59%;
   text-align: center;
}

header ul li:nth-of-type(1) div {
   width: 20%;
   margin: auto;
   cursor: pointer;
}

header ul li:nth-of-type(2) {
   width: 25%;
   text-align: right;
}

header ul li:nth-of-type(3) {
   width: 4%;
   text-align: center;
   cursor: pointer;
}

.gap {
   margin-left: 7px;
}

.gap_right {
   margin-right: 8px;
}

/*-----------------------------------------------------------------------
* Main
*------------------------------------------------------------------------*/

#main_body {
   width: 900px;
   height: 95vh;
   background: #fff;
   margin: auto;
}

.bold {
   font-weight: bold;
}

/*-----------------------------------------------------------------------
* Menu
*------------------------------------------------------------------------*/

#menu {
   width: 30%;
   height: inherit;
   /* background: #DEDECD; */
   background: #f7f7f7;
}

#menu ul {
   list-style-type: none;
}

#menu ul li:hover,
#project_head:hover {
   background: rgb(211, 211, 176);
   cursor: pointer;
}

#menu ul li,
#project #project_head {
   padding: 15px 10px;
   color: #333;
}

#menu div:first-child {
   padding-top: 30px;
}

#project {
   margin-top: 10px;
   margin-bottom: 10px;
   border-top: 1px solid rgba(0, 0, 0, 0.12);
   border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

#project ul li {
   padding: 8px 0px 8px 44px;
}

#project ul li:last-child {
   padding-bottom: 20px;
}

#project ul li:hover {
   background: #DEDECD;
}

.big_dot {
   height: 12px;
   width: 12px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
}

#project_head {
   cursor: pointer;
}

.project_close {
   opacity: 0;
}

#project ul li:hover i {
   opacity: 1;
}

/*-----------------------------------------------------------------------
* Add Task Modal
*------------------------------------------------------------------------*/

.modal {
   display: none;
   /* Hidden by default */
   position: fixed;
   /* Stay in place */
   z-index: 1;
   /* Sit on top */
   left: 0;
   top: 0;
   width: 100%;
   /* Full width */
   height: 100%;
   /* Full height */
   overflow: auto;
   /* Enable scroll if needed */
   background-color: rgb(0, 0, 0);
   /* Fallback color */
   background-color: rgba(0, 0, 0, 0.4);
   /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
   background-color: #fefefe;
   margin: 4% auto;
   /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   border-radius: 4px;
   width: 40%;
   /* Could be more or less, depending on screen size */
   /* box-sizing: border-box; */
   color: #333;
}

#myModal table {
   width: 100%;
}

/* The Close Button */

.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover{
   color: black;
   text-decoration: none;
   cursor: pointer;
}

#myModal form input[type=text] {
   padding: 10px 0px 10px 5px;
   margin: 10px 0;
   border: 1px solid #ccc;
   border-radius: 3px;
   box-sizing: border-box;
   font-size: .9em;
}

#myModal form input[type=date] {
   padding: 8px 0px 8px 5px;
   border: 0px solid #ccc;
   margin-left: 20px;
   transition: border .2s;
   font-size: 1.1em;
}

#myModal form input[type=date]:hover {
   border: 1px solid #ccc;
   cursor: pointer;
}

#myModal form button {
   background-color: #e44232;
   color: white;
   font-size: .9em;
   padding: 10px 15px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   transition: all .2s;
}

#myModal form button:hover {
   background-color: #45a049;
}

#myModal form select {
   float: right;
   margin-right: 60px;
   border: none;
   padding: 10px 10px;
   border-radius: 4px;
   cursor: pointer;
   font-size: .9em;
}